
// ==========================================================================
// Container widths
// ==========================================================================
$editor-max-widths: (
	sm: 540px - 30px,
	md: 720px - 30px,
	lg: 960px - 30px,
	xl: 1140px - 30px,
);

// xxl: 1320px - 30px // not used

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
);
// ==========================================================================
// Project colors
// https://www.color-blindness.com/color-name-hue/
// ==========================================================================
$white: #ffffff;
$black: #000000;
$yellow: #f7d600;

$base-color: $black;
$highlight1: $yellow;
$highlight2: $black;
$background-color: #f9f9f9;

$brand-colors: (
	"white":  $white,
	"black":  $black,
	"yellow": #e9c552,
	"gray": #e9e9e9,
);

// ==========================================================================
// Font settings
// ==========================================================================

// ==========================================================================
// Link settings
// ==========================================================================

// ==========================================================================
// Margins
// ==========================================================================

// ==========================================================================
// Header
// ==========================================================================

// ==========================================================================
// Navigation | toggler
// ==========================================================================

// ==========================================================================
// Navigation | menu
// ==========================================================================

// ==========================================================================
// Footer
// ==========================================================================

// ==========================================================================
// Cards
// ==========================================================================

// ==========================================================================
// Buttons
// ==========================================================================

// ==========================================================================
// icons - Header
// ==========================================================================

// ==========================================================================
// icons - Footer
// ==========================================================================

// ==========================================================================
// Editor
// ==========================================================================

// ==========================================================================
// Bootstrap overwrites
// ==========================================================================
