// ==========================================================================
// Container widths
// ==========================================================================
$editor-max-widths: (
	sm: 540px - 30px,
	md: 720px - 30px,
	lg: 960px - 30px,
	xl: 1140px - 30px,
);

// xxl: 1320px - 30px // not used

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
);

// ==========================================================================
// Project colors
// https://www.color-blindness.com/color-name-hue/
// ==========================================================================
$white: #ffffff;
$black: #000000;
$yellow: #f7d600;

$color-deep-koamaru: #111e72;
$color-gold-drop: #f27c00;
$color-cerulean: #0090df;

$base-color: $black;
$highlight1: $color-deep-koamaru;
$highlight2: $color-gold-drop;
$background-color: #f9f9f9;
$body-background: #f0f0f0;

$brand-colors: (
	"white":  $white,
	"black":  $black,
	"orange": $color-gold-drop,
	"dark-blue": $color-deep-koamaru,
);
$border-radius: 20px;

// ==========================================================================
// Font settings
// ==========================================================================
$base-font: "Assistant";

// ==========================================================================
// Link settings
// ==========================================================================

// ==========================================================================
// Margins
// ==========================================================================

// ==========================================================================
// Header
// ==========================================================================
$logo-width-header: 230px;

// ==========================================================================
// Navigation | toggler
// ==========================================================================

// ==========================================================================
// Navigation | menu
// ==========================================================================

// ==========================================================================
// Footer
// ==========================================================================
$footer-bg: $color-deep-koamaru;
$footer-line-height: 1.63;
$footer-font-size: pxotrem(22px);

// ==========================================================================
// Cards
// ==========================================================================
$card-shadow: none;
$card-radius: 20px;

// ==========================================================================
// Buttons
// ==========================================================================
$button-font-size: pxtorem(20px);
$button-font-weight: 600;
$button-text-color: $color-deep-koamaru;
$button-text-color-hover: $white;
$button-background-color: transparent;
$button-border-radius: 25px;
$button-background-color-hover: darken($highlight2, 20%);

// ==========================================================================
// icons - Header
// ==========================================================================

// ==========================================================================
// icons - Footer
// ==========================================================================

// ==========================================================================
// Editor
// ==========================================================================

// ==========================================================================
// Bootstrap overwrites
// ==========================================================================
