.job-card {
	padding: 20px;
	margin-bottom: 30px;
	background-color: $white;
	border-radius: $border-radius;

	&__header {
		margin-bottom: 1em;

		h3 {
			margin-top: 0;
			margin-bottom: 0;
			line-height: 1.8;
		}
	}

	&__footer {
		display: flex;
		align-items: center;
	}

	&__link {
		padding: 10px 0 10px 10px;
		margin-left: auto;
		font-weight: 700;
		color: $base-color;
	}
}

.sidebar{

}

.filters {
	padding: 30px;
	background-color: $white;
	border-radius: $border-radius;

	h3 {
		margin-top: 0;
	}
}

.job-alert {
	color: $white;
	background-color: $color-gold-drop;
	border-radius: $border-radius;
}
