h1 {
	font-weight: 300;
	line-height: 1.13;

	@include media-breakpoint-up(md) {
		font-size: pxtorem(72px);
	}
}

h2 {
	font-weight: 300;
	line-height: 1.27;

	@include media-breakpoint-up(md) {
		font-size: pxtorem(52px);
	}
}

h3 {
	font-size: pxtorem(20px);
}

.theme-button,
.wp-block-button__link {
	@include shevron-button;

	padding: 0.5em 1em;
	border: 2px solid currentcolor;
}

.entry {

	iframe {
		border-radius: 20px;
	}
}

.icons-list__iconholder {
	padding: 0.5em !important;
}

.fluentform .ff_upload_btn.ff-btn {
	margin-top: 10px;
	background-color: $color-deep-koamaru;
	border-radius: 10px;
}
