{% import 'macros/socials.twig' as socials %}
<div class="footer__closure">
    <div class="row">
        <div class="col">
            <p>
                De juiste leerkracht op de juiste plek
            </p>
        </div>
        <div class="col-auto">
            {{ socials.social_icons(socials, site.name) }}
        </div>
    </div>
</div>
