<div>
    <svg class="clip">
        <clipPath id="footer-1" clipPathUnits="objectBoundingBox">
            <path d="M0,1 L1,1 L1,0.259 L1,0 C0.732,0.528,0.398,0.907,0,1"></path>
        </clipPath>
    </svg>
    <svg class="clip">
        <clipPath id="footer-2" clipPathUnits="objectBoundingBox">
            <path d="M1,1 L1,0 C0.952,0.186,0.902,0.353,0.848,0.492 C0.737,0.78,0.622,0.932,0.51,0.977 C0.327,1,0.153,0.844,0.023,0.483 C0.015,0.462,0.008,0.438,0,0.415 L0,1 L1,1"></path>
        </clipPath>
    </svg>
    <svg class="clip">
        <clipPath id="footer-3" clipPathUnits="objectBoundingBox">
            <path d="M0.002,0.003 L0,0 L0,1 L0.964,1 C0.974,0.999,0.985,0.998,0.995,0.998 C0.996,0.998,0.996,0.998,0.997,0.998 L1,0.997 C0.699,0.853,0.343,0.52,0.002,0.003"></path>
        </clipPath>
    </svg>
    <svg class="clip">
        <clipPath id="intro-1" clipPathUnits="objectBoundingBox">
            <path d="M1,0.318 V0 H0 v0.611 c0.091,0.161,0.251,0.382,0.45,0.389 c0,0,0.121,-0.016,0.179,-0.064 c0.129,-0.106,0.253,-0.31,0.37,-0.606 l0,-0.012 h0"></path>
        </clipPath>
    </svg>
    <svg class="clip">
        <clipPath id="intro-2" clipPathUnits="objectBoundingBox">
            <path d="M0.006,0 H0 V1 H1 A10,107,0,0,1,0.006,0"></path>
        </clipPath>
    </svg>
</div>

<div class="footer__shapes">
    <div class="footer__blue footer__shape"></div>
    <div class="footer__orange footer__shape"></div>
</div>
