{% extends 'components/cards/crd-wrap.twig' %}
{% set card_type = 'job-alert' %}
{% block card_inner %}
    <div class="crd__bottom crd__text">
        <header class="crd__header">
            <h3 class="crd__title">
                Vacature alert
            </h3>
            <i class="icon-notification"></i>
        </header>
        <div class="crd__excerpt">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt. Sit amet, consectetur adipiscing
            </p>
        </div>
    </div>
    <div class="crd__footer crd__text">
        <button class="theme-button js-modal-trigger">Alert aanmaken</button>
    </div>
{% endblock %}
