<div class="modal-notifications" id="js-newsletter-notifications"></div>
<form action="" id="js-newsletter">
    <div class="mb-3">
        <label for="naam" class="form-label">Naam</label>
        <input required id="name" type="text" class="form-control" id="naam" />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mailadres</label>
        <input required id="email" type="email" class="form-control" id="email" />
    </div>
    <input type="submit" value="Inschrijven" />
</form>
