{% extends 'layouts/block-wrap.twig' %}

{% block block__inner %}
    <div class="latest-jobs__jobs">
        {% for post in latest_jobs %}
            {% include 'components/cards/crd-job.twig' %}
        {% endfor %}
    </div>
    {% include 'components/cards/crd-job-alert.twig' %}
{% endblock %}
