{% extends 'layouts/block-wrap.twig' %}

{% block block__inner %}
    <figure class="wp-block-embed__wrapper">
        {{ fields.video }}
    </figure>

    <h2>
        {{ fields.title }}
    </h2>
{% endblock %}
