.home-intro {

	&__media-text {
		margin-bottom: 30px;
		overflow: hidden;
		background-color: $white;
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
	}

	&__media-text-content {
		padding: 30px;
	}

	&__media-text-picture {
		height: 100%;

		img {
			object-fit: cover;
			height: 100%;
		}
	}

	h2 {
		margin-top: 0;
		color: $color-gold-drop;
	}

	&__top {

		ul {

			a {
				display: block;
				padding: 15px;
				font-size: pxtorem(16px);
				font-weight: 300;
				color: white;
				text-align: center;
				background-color: $color-deep-koamaru;
				border: solid 2px white;
				border-bottom: 0;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;

				@include media-breakpoint-up(lg) {
					font-size: pxtorem(20px);
				}

				&:hover {
					font-weight: bold;
				}
			}

			li {
				flex: 1;

				&.current-menu-item a {
					font-weight: bold;
					background-color: $color-gold-drop;
					border-color: $color-gold-drop;
				}
			}
		}
	}

	&__alert {
		display: flex;
		justify-content: flex-end;
	}
}
