.wp-block-media-text.has-background {
	margin-bottom: 30px;

	.wp-block-media-text__content {
		margin-top: -45px !important;
		margin-right: 15px;
		margin-bottom: 0 !important;
		margin-left: 15px;
		border-radius: $border-radius;

		@include media-breakpoint-up(lg) {
			padding-left: 60px;
			margin-top: 0 !important;
			margin-right: 0;
		}
	}

	.wp-block-media-text__media {
		align-self: auto !important;
		height: auto !important;
		overflow: hidden;
		border-radius: $border-radius;

		@include media-breakpoint-up(lg) {
			position: relative;
			z-index: 4;
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
}

.wp-block-media-text.has-background.has-media-on-the-right {

	.wp-block-media-text__content {
		@include media-breakpoint-up(lg) {
			padding-right: 60px;
			padding-left: 30px;
			margin-top: 0 !important;
			margin-left: 0;
		}
	}
}

.wp-block-media-text + .wp-block-media-text {
	margin-top: 30px;

	@include media-breakpoint-up(lg) {
		margin-top: 100px;
	}
}
