{% extends 'layouts/app.twig' %}
{% block content %}
    <div class="entry">
        {% do action('wp-lemon/action/entry/before') %}
        {{ post.content }}

        <div class="jobs">
            <h2>
                Vacatures beschikbaar in het groene hart.
            </h2>

            <div class="row job-grid">
                <aside class="col-12 col-md-4 sidebar">
                    <div class="filters">
                        {% for facet in facets %}
                            <div class="facet">
                                <h3>
                                    {{ facet.label }}
                                </h3>
                                {{ facet.shortcode|shortcodes }}
                            </div>
                        {% endfor %}
                    </div>
                </aside>
                <div class="col-12 col-md-8 facetwp-template job-holder">
                    {% for job in jobs %}
                        {% include 'components/cards/card-job.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% do action('wp-lemon/action/entry/after') %}
    </div>
{% endblock %}
