.footer {
	position: relative;
	z-index: 2;
	overflow: hidden;
	line-height: 1.63;

	@include media-breakpoint-up(lg) {
		padding-top: 80px;
	}

	&__shapes {
		position: relative;
		height: 10vw;
		overflow: hidden;
	}

	&__shape {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		transform: scale(1.05);
	}

	&__blue {
		z-index: 2;
		height: 70%;
		clip-path: url(#footer-2);
		background-color: $color-deep-koamaru;
	}

	&__orange {
		width: 50%;
		height: 100%;
		clip-path: url(#footer-1);
		background-color: $color-gold-drop;
	}

	&__bottom-shapes {
		position: relative;
		height: 10vw;
		overflow: hidden;
	}

	&__white {
		z-index: 3;
		clip-path: url(#footer-2);
		background-color: white;
	}

	&__light-blue {
		right: auto;
		left: 0;
		width: 40%;
		clip-path: url(#footer-3);
		background-color: $color-cerulean;
	}

	&__bottom {
		color: $base-color;
		background-color: white;

		@include media-breakpoint-up(lg) {
			padding-top: 80px;
		}
	}

	&__closure {

		p {
			font-weight: 700;

			@include media-breakpoint-up(lg) {
				font-size: pxtorem(24px);
			}
		}
	}
}

.table td {
	padding: 0;
}

.clip {
	position: absolute;
	width: 0 !important;
	height: 0 !important;
}

.widget__title {
	font-size: pxtorem(28px);
}
