.navbar{

}

.home,
.archive-page {

	.navbar {
		position: fixed;
		background-color: transparent;

		&__inner {
			box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0%);
		}
	}

	.navbar--scroll {
		background-color: white;

		.navbar__inner {
			box-shadow: 0 0 10px 0 rgba(50, 50, 50, 50%);
		}
	}
}
